@import url(https://fonts.googleapis.com/css?family=Open+Sans);


body {
    font-family: 'Open Sans';
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}
