/* OS */
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
completer.hist

/* Logging */
*.log
*.pot

/* Merge conflicts */
*.orig

/* IDEs */
*.idea
*.sublime-project
*.sublime-workspace
.settings/

/* App */
tmp/*
bower_components/
node_modules/
build/
