.users-list

    h3 List
    
    ul
        li.user-item(ng-repeat="user in users track by $index")
            a(ui-sref="app.users.details({ userId: $index })")
                img(ng-src="{{user.avatar}}")
                h3 {{user.name}}
