.content.users-list

    
    p.float-right
        a(ui-sref="app.users.create") + Add User
        
    h1 Users List
    
    hr
    
    ul
        li.user-item(ng-repeat="user in users track by $index")
            a(ui-sref="app.users.details({ userId: $index })")
                img(ng-src="{{user.avatar}}")
                h3 {{user.name}}
